@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg,  #ffffff 0%, #d8d8d8 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 345px;
    gap: 20px;

}

.image{
    margin: auto;
    margin-bottom: 5px;
    width: 200px;
    align-content: center;
    

}
.title{
    font-size: 20px;
    font-weight: 700;
}

.description{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
}

.skills{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}
.skill{
    font-size: 15px;
    color: white;
    font-weight: 400;
    border-radius: 100px;
    background: #fc4f24;
    padding: 2px 22px;
}
.links{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}
.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-text);
    padding: 1px 22px;
    
}