@import "../../vars.css";

.container {
    margin-top: 200px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;


}
.intro{
    text-align: center;
    font-family: var(--font-poppoins);
    font-size: 16px;
    font-weight: 300;
   
}
.title{
    text-align: center;
    font-family: var(--font-poppoins);
    font-size: 32px;
    font-weight: 600;
    
    

}

.projects{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}