@import "../../vars.css";


.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 100px;


}

.intro h3{
    font-family: var(--font-poppoins);
    font-size: 16px;
    text-align: center;
    font-weight: 300;

}
.intro h1{
    font-family: var(--font-poppoins);
    font-size: 32px;
    text-align: center;
    font-weight: 600;

}

.publications{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.publications p{
    font-family: var(--font-poppoins);
    margin-bottom: 3%;
}