@import "../../vars.css";


.mainContainer{
    margin: auto;
    margin-top: 200px;
    margin-bottom:100px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.hard{
    font-family: var(--font-poppoins);
    font-size: 16px;
    font-weight: 300;
}

.skills{
    font-family: var(--font-poppoins);
    font-size: 32px;
    font-weight: 600;
}


.images{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 330px;
    margin-top: 5%;
    
    
    
}

.image1{
    position: relative;
    display: flex;
    
    margin-right: 30%;
    margin-left: 0%;
    
    
}
.image1 img{
    position: absolute;
    object-fit: cover;
    align-items: center;
    width: 300px;
    transition: 0.3s;
}
.image1 img:hover{
    opacity: 0;
}

.image2{
    position: relative;
    display: flex;
    
    margin-right: 80%;
    margin-left: 10%;
}

.image2 img{
    position: absolute;
    object-fit: cover;
    width: 300px;
    transition: 0.3s;
}
.image2 img:hover{
    opacity: 0;
}

@media screen and (max-width:830px) {
    .images{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 250px;
        margin-top: 5%;
        
        
        
    }
    
    .image1{
        position: relative;
        display: flex;
        justify-content: center;
        
        
        
        
    }
    .image1 img{
        position: absolute;
        object-fit: cover;
        align-items: center;
        width: 200px;
        transition: 0.3s;
        
    }
    .image1 img:hover{
        opacity: 0;
    }
    
    .image2{
        position: relative;
        display: flex;
        
        justify-content: center;
        
        
    }
    
    .image2 img{
        position: absolute;
        object-fit: cover;
        width: 200px;
        transition: 0.3s;
    }
    .image2 img:hover{
        opacity: 0;
    }
    
}