:root {
    --color-text: #1E1E1E;
    --color-primary: white;
    --color-secondary: black;
    --font--roboto: "Roboto";
    --font-poppoins: "Poppins";
    --font-baloo: "Baloo-2";
    --font-jaro:'Jaro Variable';
    
}